// IG title style (don't modify)

// main style (don't modify)
.Fontoon {
	font-family: Fontoon;
}

.Strangelove{
	font-family: Strangelove Text;
}

.YWFTTrithart{
	font-family: YWFT Trithart;
}
